
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2><i>Project File</i></h2>
<div class="container-fluid" style="margin-top:30px">
    <p>
        
            This is my first Online Products Selling Website..<br />
            Hope You Like it!!<br />
            For Create You Website just Contact Me..<br />
            Contact No:- <b>9773129135 / 9326390673</b><br />
            Email:- <b><i>spadave7@gmail.com</i></b>

    </p>
</div>

