
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Booking</h2>

@if (ViewBag.QRCodeImage != null)
{
    <div class="alert alert-info">Your Booking Is Successfull..</div>
    @*<h3>Booking Number Is..@ViewBag.BookingId</h3>*@
    @*<h3>Booking Details..@ViewBag.BookingDetails
    </h3>*@
    <img src="@ViewBag.QRCodeImage" alt="Booking QR Code" style="height:200px; width:200px" />
}
else
{
    <div class="alert alert-danger">Sorry, Something Went Wrong While Processing Your Request...</div>
}
<br />
<br />
<br />
<a asp-action="Index" class="btn btn-success" href="/products/Index">Back To List</a>

